<div class="container-fluid mt-5 mb-5" id="sobre-nos">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <h6><span class="yellow">Sobre a KD</span></h6>
        <h3 class="ml-4 font-weight-bold">Como trabalhamos</h3>
        <div class="container mt-3">
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex justify-content-center">
                <div class="card card-folha card-3" style="width: 70%;">
                  <div class="card-body pb-5 pt-4">
                    <h4 class="text-white text-center">Quem pode ter perfil na KD?</h4>
                    <p class="text-white">
                      Apenas conteúdos educacionais da áreas do conhecimento e componentes curriculares. De acordo com
                      a política do site, os perfis que violar as diretrizes correm risco de serem
                      excluída.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--col-->
            <div class="col-md-6">
              <div class="d-flex justify-content-center">
                <div class="card card-folha card-3" style="width: 70%;">
                  <div class="card-body pb-3">
                    <h4 class="text-white text-center">Quais os tipos de conteúdo que posso postar?</h4>
                    <p class="text-white">
                      Apenas conteúdos educacionais da áreas do conhecimento e componentes curriculares. De acordo com a
                      política do site, os perfis que violar as diretrizes correm risco de serem
                      excluída.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--col-->
          </div>
          <!--row-->
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="d-flex justify-content-center">
                <div class="card card-folha card-4" style="width: 70%;">
                  <div class="card-body p-4">
                    <h4 class="text-white text-center">Quem pode postar conteúdo?</h4>
                    <p class="text-white">
                      Professores, voluntários de empresas e ONGs que queiram oferecer auxilo
                      em varias areas da educação poderam postar conteúdos.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--col-->
            <div class="col-md-6">
              <div class="d-flex justify-content-center">
                <div class="card card-folha card-5" style="width: 70%;">
                  <div class="card-body pt-5 pb-4">
                    <h4 class="text-white text-center">Onde posso ver esses conteúdos?</h4>
                    <p class="text-white">
                      Assim que finalizar o cadastro, o feed de conteúdos estará disponível para você ver e fazer buscas
                      por temas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--col-->
          </div>
          <!--row-->
        </div>
      </div>
    </div>
  </div>
  <!--como trabalhamos-->
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <div class="card rounded ml-5 mr-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-md-12 p-5 bg-blue">
              <h5 class="ml-5 font-weight-bold mt-4">Juntos com a ONU</h5>
              <h2 class="ml-5 font-weight-bold">COMBATE A DESIGUALDADE DE ENSINO!</h2>
              <hr>
              <p class="ml-5 mr-5 mt-4 font-weight-bold">
                Com o foco na educação de ensino online focada na ODS de numero 10 (redução de desigualdades) da ONU,
                onde queremos diminuir a desigualdade de ensino.
              </p>
              <a href="https://brasil.un.org/" class="btn ml-5 font-weight-bold">https://brasil.un.org/</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--ODS-->
</div>
