<div class="container-fluid bg-light" id="inicio">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex justify-content-center">
        <img src="https://i.imgur.com/1IaWN5T.png" alt="menino estudado" width="500rem" class="img-fluid mt-3">
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-center p-5 m-5">
        <h1>
          <span>Faça seu estudo</span>
          <span>valer a pena</span>
        </h1>
        <p class="text-sm-start mt-2">
          Faça parte da nossa comunidade <strong>Knowledge Domain - KD</strong> e estudo com diversos profissionais
          da educação. Aqui damos uma variedade de ensino desde vídeos didaticos quando cursos oferecido
          por organizações que temos como parceiras. Faça <strong>você</strong> tambem parte dessa familia.
        </p>
        <button class="btn btn-danger">Saber mais</button>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <img src="https://i.imgur.com/CWBzSbA.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/hSST19D.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/O1tLqgk.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/K3AEhG4.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/BhrpjuT.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/3d3z4Y4.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/RoXbQG0.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/zSNLFCd.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/CWBzSbA.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/hSST19D.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/O1tLqgk.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/K3AEhG4.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/CWBzSbA.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
        <img src="https://i.imgur.com/CWBzSbA.png" alt="livros" class="img-fluid ml-4 swing" width="95rem">
      </div>
      <hr class="p-0 m-0">
    </div>
  </div>
  <section>
    <app-sobre-nos></app-sobre-nos>
  </section>
  <section>
    <app-equipe></app-equipe>
  </section>
  <section>
    <app-contato></app-contato>
  </section>
</div>
